html, body {
    height: 100%;
    overflow: hidden;
}
body {
    margin: 0;
}
.flex-container {
    height: 25em;
    padding: 0;
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modal-header.primary {
    color: #856404;
    background-color: #fff3cd;
    border-color: #fff3cd;
  }
.box {
    display: flex;
    justify-self: center;
    width: 25em;
    height: 25em;
    border: .2em solid black;
    padding: 50px;
    margin: 20px;
    position: absolute;
}
.box-content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin-top: 15%;
    justify-content: center;
    text-align: center;
    font-size: 1em;
}
.box-header {
    display: flex;
    position: relative;
    width: 25em;
    height: 5em;
    border: .2em solid black;
    padding: 0;
    margin: 0;
    top: -40%;
    background-color: darkslateblue;
    align-items: center;
}
.box-header p {
    color:white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2em;
    text-align: center;
    width: 25em;
    margin-top: 5%;
}